<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<%= form_for Produto.new do |f| %>

  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :descricao %>
    <%= f.text_area :descricao, class: "form-control", rows: 4 %>


    <div class="form-inline">
      <div class="form-group">
        <%= f.label :quantidade %>
        <%= f.number_field :quantidade, step: 1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :preco %>
        <%= f.number_field :preco, class: "form-control" %>
      </div>
      <%= f.submit "Criar", class: "btn btn-primary" %>
    </div>
<% end %>
</div>
</body>
</html>